body
{
    font-family: 'Tienne', serif;
    margin: 0;
}
.container
{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    
}
.logo
{
    font-family: 'Playfair Display', serif;
    color: #FFDAB9;
    font-size: 70px;
    text-decoration: none;
    margin-left: 420px;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #f2f3f4, 0 0 80px #f2f3f4, 0 0 90px #f2f3f4, 0 0 100px #f2f3f4, 0 0 150px #f2f3f4;
}
.logo-text
{
    color: #FFB6C1;
    text-align: center;
    margin-top: 50px;
}
.under-logo
{
    color:#FFDAB9;
    font-size: 50px;
    text-decoration: none;
}
.header
{
    background-color: rgb(39, 38, 38);
    border-bottom: 2px solid #FFB6C1;
}
.main-title
{
    text-align: center;
}
.catalog-list
{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.5);
}
.header-items
{
    list-style: none;
}
.li-color
{
    color:#FFB6C1;
    margin-bottom: 20px;
}
.li-color:hover
{
    color: #FFDAB9;
}
.stuff
{
    font-size: 30px;
    text-align: center;
}
.main-list
{
    margin-right: 30px;
    padding-left: 40px;
}
.main-list-catalog
{
    margin-right: 50px;
    padding-left: 70px;
}
.footer-container
{
    background-color: rgb(39, 38, 38);
}
.footer-item
{
    color: #FFDAB9;
    list-style: none;
    text-decoration: none;
}
.footer-item:hover
{
    color: #FFB6C1;
}
.old-price
{
    color: grey;
    text-decoration: line-through;
}